.display {
    color: white;
    white-space: pre-line;
    font-family: 'Courier New', Courier, monospace;
}

.display_line {
    padding: 0;
    margin: 0;
}

.input {
    padding-bottom: 0;
    width: 100%;
    background-color: black;
    color: cyan;
    font-family: 'Courier New', Courier, monospace;
}

.input_field {
    background-color: black;
    width: 100%;
    border: none;
    resize: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.input_field:focus {
    outline:none;
}